node_modules/
dist/
dist-ssr/
*.local

# Tauri
src-tauri/target/
src-tauri/gen/
src-tauri/WixTools/

# Editor
.vscode/*
!.vscode/extensions.json
.idea/
*.swp
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS
.DS_Store
Thumbs.db
desktop.ini

# Logs
*.log
logs/

# Geçici
_extracted/
*.tmp
